@font-face {
  font-family: "HancomMalangMalang-Bold";
  font-weight: normal;
  src: url("./fonts/HancomMalangMalang-Bold.otf") format("opentype");

}
@font-face{
font-family: "HancomMalangMalang-Regular";
  font-weight: normal;
  src: url("./fonts/HancomMalangMalang-Regular.otf") format("opentype");
}
body {
  font-family: "HancomMalangMalang-Bold";
  overflow-x: hidden;
  
}


.regular-font {
  font-family: "HancomMalangMalang-Regular", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
